Repository hmcts/fact-admin, pull requests merged in 2020-10, with the labels that each got.

#28 Move a11y test to functional test
  package.json
  src/main/app/controller/CourtsController.ts
  src/main/modules/passport/index.ts
  src/main/modules/session/index.ts
  src/main/server.ts
  src/main/types/AuthedRequest.ts
  src/main/views/redirect.njk
  src/test/a11y/a11y.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-28

#31 Fact 77/78 login logout clean up
  package.json
  src/main/modules/passport/index.ts
  src/main/views/courts.njk
  src/main/views/home.njk
  src/main/views/logout.njk
  src/main/views/template.njk
  src/test/a11y/a11y.ts
  src/test/config.ts
  src/test/functional/features/homepage.feature
  src/test/functional/features/login.feature
  src/test/functional/features/logout.feature
  src/test/functional/steps/homepage.ts
  src/test/functional/steps/login.ts
  src/test/functional/steps/logout.ts
  src/test/functional/support/hooks.ts
  src/test/functional/utlis/puppeteer.util.ts
  src/test/unit/app/controller/CourtsController.ts
  src/test/unit/app/controller/HomeController.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-31

#30 removing i18n
  package.json
  src/main/app/controller/CourtsController.ts
  src/main/app/controller/ErrorController.ts
  src/main/app/controller/HomeController.ts
  src/main/locales/cy/courts.json
  src/main/locales/cy/error.json
  src/main/locales/cy/home.json
  src/main/locales/cy/not-found.json
  src/main/locales/en/courts.json
  src/main/locales/en/error.json
  src/main/locales/en/home.json
  src/main/locales/en/not-found.json
  src/main/modules/i18n/index.ts
  src/main/server.ts
  src/main/types/AuthedRequest.ts
  src/main/types/I18nRequest.ts
  src/test/unit/app/controller/ErrorController.ts
  src/test/unit/app/controller/HomeController.ts
  src/test/unit/utils/mockRequest.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-30

#34 Add auth to API calls
  src/main/app/auth/AuthProviderFactory.ts
  src/main/modules/awilix/index.ts
  src/main/modules/passport/index.ts
  src/main/types/AuthedRequest.ts
  src/test/unit/app/controller/CourtsController.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-34

#38 Add api auth
  bin/setup-idam.sh
  config/default.yaml
  docker-compose.yml
  docker/database/Dockerfile
  docker/database/create-multiple-postgres-database.sh
  src/main/app/controller/CourtsController.ts
  src/main/app/fact/FactApi.ts
  src/test/unit/app/controller/CourtsController.ts
  src/test/unit/app/fact/FactApi.ts
  src/test/unit/utils/mockRequest.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-38

#39 Add application insights
  charts/fact-admin/Chart.yaml
  charts/fact-admin/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  package.json
  src/main/modules/appinsights/index.ts
  src/main/modules/properties-volume/index.ts
  src/main/server.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-39

#42 Fact 65 view courts
  api/courts.json
  api/fact-api-stubs.ts
  package.json
  src/main/app/controller/courts/CourtDetailsController.ts
  src/main/app/controller/courts/CourtsController.ts
  src/main/app/fact/FactApi.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/views/courts/court-details.njk
  src/main/views/courts/courts.njk
  src/test/functional/features/admin-login.feature
  src/test/functional/features/admin-logout.feature
  src/test/functional/features/courts.feature
  src/test/functional/features/homepage.feature
  src/test/functional/steps/courts.ts
  src/test/functional/steps/homepage.ts
  src/test/functional/steps/login.ts
  src/test/functional/steps/logout.ts
  src/test/functional/utlis/puppeteer.util.ts
  src/test/unit/app/controller/courts/CourtDetailsController.ts
  src/test/unit/app/controller/courts/CourtsController.ts
  src/test/unit/app/fact/FactApi.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-42

#46 Add oidc
  package.json
  src/main/app/auth/AuthProviderFactory.ts
  src/main/app/fact/FactApi.ts
  src/main/modules/awilix/index.ts
  src/main/modules/oidc/index.ts
  src/main/modules/passport/index.ts
  src/main/server.ts
  src/main/types/AuthedRequest.ts
  src/test/unit/app/auth/AuthProviderFactory.ts
  src/test/unit/app/controller/ErrorController.ts
  src/test/unit/app/fact/FactApi.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-46
