Repository hmcts/fact-admin, pull requests merged in 2021-05, with the labels that each got.

#193 FACT-407 Changes to opening time tab to make it a separate form that gets and posts its data via ajax.
  api/fact-api-stubs.ts
  charts/fact-admin/Chart.yaml
  src/main/app/controller/courts/EditCourtGeneralController.ts
  src/main/app/controller/courts/OpeningTimesController.ts
  src/main/app/fact/FactApi.ts
  src/main/assets/js/index.ts
  src/main/assets/js/opening-hours.ts
  src/main/modules/awilix/index.ts
  src/main/modules/nunjucks/index.ts
  src/main/routes.ts
  src/main/server.ts
  src/main/types/Court.ts
  src/main/types/CourtPageData.ts
  src/main/types/OpeningTime.ts
  src/main/types/OpeningType.ts
  src/main/views/courts/edit-court-general.njk
  src/main/views/courts/tabs/openingHours.njk
  src/main/views/courts/tabs/openingHoursContent.njk
  src/test/functional/features/court-additional-information.feature
  src/test/functional/features/court-open-and-access-scheme.feature
  src/test/functional/features/court-urgent.feature
  src/test/functional/features/opening-hours.feature
  src/test/functional/steps/opening-hours.ts
  src/test/functional/utlis/puppeteer.util.ts
  src/test/unit/app/controller/courts/EditCourtGeneralController.ts
  src/test/unit/app/controller/courts/OpeningTimesController.ts
  src/test/unit/app/fact/FactApi.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-193

#198 FACT-95 - Implement email tab
  src/main/app/controller/courts/EmailsController.ts
  src/main/app/controller/courts/OpeningTimesController.ts
  src/main/app/fact/FactApi.ts
  src/main/assets/js/emails.ts
  src/main/assets/js/index.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/types/Email.ts
  src/main/types/EmailType.ts
  src/main/utils/validation.ts
  src/main/views/courts/edit-court-general.njk
  src/main/views/courts/tabs/emails.njk
  src/main/views/courts/tabs/emailsContent.njk
  src/test/functional/features/admin-login.feature
  src/test/functional/features/email-addresses.feature
  src/test/functional/steps/email-addresses.ts
  src/test/unit/app/controller/courts/EmailsController.ts
  src/test/unit/app/fact/FactApi.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-198

#212 FACT-477 Added new phone numbers tab that gets and posts its data via ajax
  src/main/app/controller/courts/ContactsController.ts
  src/main/app/fact/FactApi.ts
  src/main/assets/js/ajaxErrorHandler.ts
  src/main/assets/js/courtGeneralInfo.ts
  src/main/assets/js/emails.ts
  src/main/assets/js/index.ts
  src/main/assets/js/opening-hours.ts
  src/main/assets/js/phone-numbers.ts
  src/main/modules/awilix/index.ts
  src/main/modules/oidc/index.ts
  src/main/routes.ts
  src/main/types/Contact.ts
  src/main/types/ContactType.ts
  src/main/views/courts/edit-court-general.njk
  src/main/views/courts/tabs/phoneNumbers.njk
  src/main/views/courts/tabs/phoneNumbersContent.njk
  src/test/functional/features/phone-numbers.feature
  src/test/functional/steps/opening-hours.ts
  src/test/functional/steps/phone-numbers.ts
  src/test/functional/utlis/helpers.ts
  src/test/unit/app/controller/courts/ContactsController.ts
  src/test/unit/app/fact/FactApi.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-212

#213 test
  README.md
Labels: ns:fact, prd:fact, rel:fact-admin-pr-213

#214 CSRF-Token-Patch
  config/custom-environment-variables.yaml
  config/default.yaml
  infrastructure/main.tf
Labels: ns:fact, prd:fact, rel:fact-admin-pr-214

#215 CSRF-Token-Patch - Potential fix 2
  config/default.yaml
  src/main/modules/properties-volume/index.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-215

#219 FACT-514 Removed test log-in credentials from functional tests and readme file.
  Jenkinsfile_CNP
  README.md
  src/test/functional/features/admin-login.feature
  src/test/functional/features/bulk-update.feature
  src/test/functional/features/court-additional-information.feature
  src/test/functional/features/court-open-and-access-scheme.feature
  src/test/functional/features/court-urgent.feature
  src/test/functional/features/courts.feature
  src/test/functional/features/email-addresses.feature
  src/test/functional/features/general-info.feature
  src/test/functional/features/opening-hours.feature
  src/test/functional/features/phone-numbers.feature
  src/test/functional/puppeteer.config.ts
  src/test/functional/steps/courts.ts
  src/test/functional/steps/login.ts
  src/test/functional/support/hooks.ts
  src/test/functional/utlis/puppeteer.util.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-219
