Repository hmcts/fact-admin, pull requests merged in 2021-08, with the labels that each got.

#323 FACT-177 Add ability to add and edit court addresses
  src/main/app/controller/courts/AddressController.ts
  src/main/app/fact/FactApi.ts
  src/main/assets/js/addresses.ts
  src/main/assets/js/index.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/types/CourtAddress.ts
  src/main/types/CourtAddressPageData.ts
  src/main/utils/validation.ts
  src/main/views/courts/edit-court-general.njk
  src/main/views/courts/tabs/addresses.njk
  src/main/views/courts/tabs/addressesContent.njk
  src/test/functional/features/admin-court-addresses.feature
  src/test/functional/steps/court-addresses.ts
  src/test/unit/app/controller/courts/AddressController.ts
  src/test/unit/app/fact/FactApi.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-323

#325 helm-chart-upgrade - Upgraded helm charts
  charts/fact-admin/Chart.yaml
Labels: ns:fact, prd:fact, rel:fact-admin-pr-325

#324 Run cucumber tests in parallel
  package.json
  src/test/functional/steps/courts.ts
  src/test/functional/steps/opening-hours.ts
  src/test/functional/steps/phone-numbers.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-324

#326 Amended email and court types functional tests to remove dependency between tests
  src/test/functional/features/court-types.feature
  src/test/functional/features/email-addresses.feature
Labels: ns:fact, prd:fact, rel:fact-admin-pr-326

#331 Upgrade version of url-parse to fix security vulnerability
  package.json
Labels: ns:fact, prd:fact, rel:fact-admin-pr-331

#332 sonarqube file changes
  sonar-project.properties
Labels: ns:fact, prd:fact, rel:fact-admin-pr-332

#330 FACT-178 - Add court facilities tab to admin portal
  src/main/app/controller/courts/CourtFacilitiesController.ts
  src/main/app/fact/FactApi.ts
  src/main/assets/js/facilities.ts
  src/main/assets/js/index.ts
  src/main/assets/scss/tabs.scss
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/types/Facility.ts
  src/main/views/courts/edit-court-general.njk
  src/main/views/courts/tabs/facilities.njk
  src/main/views/courts/tabs/facilitiesContent.njk
  src/test/functional/features/facilities.feature
  src/test/functional/steps/facilities.ts
  src/test/functional/utlis/puppeteer.util.ts
  src/test/unit/app/controller/courts/CourtFacilitiesController.ts
  src/test/unit/app/fact/FactApi.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-330

#329 Fact 825: Implement new tab for 'cases heard'
  src/main/app/controller/courts/CasesHeardController.ts
  src/main/app/fact/FactApi.ts
  src/main/assets/js/cases-heard.ts
  src/main/assets/js/index.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/types/CasesHeard.ts
  src/main/types/CasesHeardPageData.ts
  src/main/views/courts/edit-court-general.njk
  src/main/views/courts/tabs/casesHeard.njk
  src/main/views/courts/tabs/casesHeardContent.njk
  src/test/functional/features/cases-heard.feature
  src/test/functional/steps/cases-heard.ts
  src/test/functional/utlis/puppeteer.util.ts
  src/test/unit/app/controller/courts/CasesHeardController.ts
  src/test/unit/app/fact/FactApi.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-329
