Repository hmcts/fact-admin, pull requests merged in 2021-01, with the labels that each got.

#110 FACT-93: update help text
  src/main/views/courts/tabs/general.njk
Labels: ns:fact, prd:fact, rel:fact-admin-pr-110

#114 FACT-166: add csv dowload
  charts/fact-admin/Chart.yaml
  charts/fact-admin/values.aat.template.yaml
  charts/fact-admin/values.preview.template.yaml
  charts/fact-admin/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  package.json
  src/main/app/controller/courts/CourtsDownloadController.ts
  src/main/app/fact/FactApi.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/views/template.njk
  src/test/unit/app/controller/courts/CourtsDownloadController.ts
  src/test/unit/app/fact/FactApi.ts
  src/test/unit/utils/mockResponse.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-114

#121 remove idampr for aat stop neuvector errors
  charts/fact-admin/Chart.yaml
  charts/fact-admin/values.aat.template.yaml
Labels: ns:fact, prd:fact, rel:fact-admin-pr-121

#124 change the way vault secrets are loaded
  config/default.yaml
  src/main/modules/properties-volume/index.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-124
