Repository hmcts/fact-admin, pull requests merged in 2021-09, with the labels that each got.

#334 FACT-759 - Add court additional links tab to admin portal
  src/main/app/controller/courts/AdditionalLinksController.ts
  src/main/app/fact/FactApi.ts
  src/main/assets/js/additionalLinks.ts
  src/main/assets/js/index.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/types/AdditionalLink.ts
  src/main/types/Element.ts
  src/main/types/Email.ts
  src/main/utils/validation.ts
  src/main/views/courts/edit-court-general.njk
  src/main/views/courts/tabs/additionalLinks.njk
  src/main/views/courts/tabs/additionalLinksContent.njk
  src/test/functional/features/additional-links.feature
  src/test/functional/steps/additional-links.ts
  src/test/functional/steps/postcodes.ts
  src/test/unit/app/controller/courts/AdditionalLinksController.ts
  src/test/unit/app/fact/FactApi.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-334

#343 test fixes
  src/test/functional/features/admin-logout.feature
Labels: ns:fact, prd:fact, rel:fact-admin-pr-343

#337 FACT-167 Add new facility types list tab
  src/main/app/controller/lists/FacilityTypesController.ts
  src/main/app/fact/FactApi.ts
  src/main/assets/js/facility-types-list.ts
  src/main/assets/js/index.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/types/Facility.ts
  src/main/views/lists/index.njk
  src/main/views/lists/tabs/deleteFacilityTypeConfirm.njk
  src/main/views/lists/tabs/editFacilityType.njk
  src/main/views/lists/tabs/facilityTypes.njk
  src/main/views/lists/tabs/facilityTypesContent.njk
  src/test/functional/features/list-facility-types.feature
  src/test/functional/steps/list-facility-types.ts
  src/test/functional/utlis/helpers.ts
  src/test/unit/app/controller/lists/FacilityTypesController.ts
  src/test/unit/app/fact/FactApi.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-337
