Repository hmcts/fact-admin, pull requests merged in 2021-12, with the labels that each got.

#389 Fact 873
  README.md
  package.json
  src/main/app/controller/courts/GeneralInfoController.ts
  src/main/assets/js/courtGeneralInfo.ts
  src/main/routes.ts
  src/main/types/CourtGeneralInfo.ts
  src/main/types/CourtGeneralInfoRedirect.ts
  src/main/views/courts/tabs/generalContent.njk
  src/main/views/courts/tabs/generalRedirect.njk
  src/test/functional/features/court-additional-information.feature
  src/test/functional/features/court-open-and-access-scheme.feature
  src/test/functional/features/court-urgent.feature
  src/test/functional/features/general-info.feature
  src/test/functional/steps/general-info.ts
  src/test/unit/app/controller/courts/GeneralInfoController.ts
  src/test/unit/app/fact/FactApi.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-389

#394 Fact 873 2
  README.md
  package.json
  src/main/app/controller/courts/GeneralInfoController.ts
  src/main/assets/js/courtGeneralInfo.ts
  src/main/routes.ts
  src/main/types/CourtGeneralInfo.ts
  src/main/types/CourtGeneralInfoRedirect.ts
  src/main/views/courts/tabs/generalContent.njk
  src/main/views/courts/tabs/generalRedirect.njk
  src/test/functional/features/court-additional-information.feature
  src/test/functional/features/court-open-and-access-scheme.feature
  src/test/functional/features/court-urgent.feature
  src/test/functional/features/general-info.feature
  src/test/functional/steps/general-info.ts
  src/test/unit/app/controller/courts/GeneralInfoController.ts
  src/test/unit/app/fact/FactApi.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-394

#395 FACT-873: Amending regex for slug and removing brackets from invalid …
  src/main/app/controller/courts/GeneralInfoController.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-395

#393 addressing vulnerable dependencies identified by ithc testing
  LICENSE
  package.json
  src/test/unit/app/utils/FeatureToggleService.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-393
