Repository hmcts/fact-admin, pull requests merged in 2022-12, with the labels that each got.

#596 FACT-1256 adding codes for court types UI
  src/main/app/controller/courts/CourtTypesController.ts
  src/main/types/CourtType.ts
  src/main/views/courts/tabs/typesContent.njk
  src/test/functional/features/super_admin/court-types.feature
  src/test/functional/features/super_admin/facilities.feature
  src/test/functional/features/super_admin/local-authorities.feature
  src/test/functional/steps/court-types.ts
  src/test/functional/steps/local-authorities.ts
  src/test/unit/app/controller/courts/CourtTypesController.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-596

#601 fix
  package.json
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-601

#602 test
  Jenkinsfile_CNP
  cucumber.js
  package.json
  src/test/config.ts
  src/test/functional/features/super_admin/local-authorities.feature
Labels: ns:fact, prd:fact, rel:fact-admin-pr-602
