Repository hmcts/fact-admin, pull requests merged in 2022-07, with the labels that each got.

#523 adding common flag
  src/main/app/controller/courts/GeneralInfoController.ts
  src/main/types/CourtGeneralInfo.ts
  src/main/views/courts/tabs/generalContent.njk
  src/test/functional/features/general-info.feature
  src/test/functional/steps/general-info.ts
  src/test/unit/app/controller/courts/ApplicationProgressionController.ts
  src/test/unit/app/controller/courts/GeneralInfoController.ts
  src/test/unit/app/fact/FactApi.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-523

#531 adding smoke test for idam api, enhancing admin one
  .eslintrc.js
  package.json
  src/main/app/controller/audits/AuditController.ts
  src/main/app/controller/courts/AdditionalLinksController.ts
  src/main/app/controller/courts/AddressController.ts
  src/main/app/controller/courts/EmailsController.ts
  src/main/app/controller/courts/NewCourtController.ts
  src/main/app/controller/courts/PostcodesController.ts
  src/main/app/controller/users/EditUserController.ts
  src/main/app/controller/users/InviteUserController.ts
  src/main/assets/js/application-progression.ts
  src/main/assets/js/court-types.ts
  src/main/assets/js/emails.ts
  src/main/assets/js/photo.ts
  src/main/assets/js/postcodes.ts
  src/main/assets/js/users/edit-user.ts
  src/main/assets/js/users/invite-user.ts
  src/main/modules/featureToggle/index.ts
  src/main/modules/oidc/index.ts
  src/main/utils/LaunchDarkly.ts
  src/test/config.ts
  src/test/smoke/smoke.ts
  src/test/unit/app/controller/audits/AuditController.ts
  src/test/unit/app/controller/courts/NewCourtController.ts
  src/test/unit/app/fact/FactApi.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-531

#533 Modifying facilities tests
  src/test/functional/features/facilities.feature
  src/test/functional/steps/facilities.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-533

#536 Fact 1145
  config/default.yaml
  package.json
  src/main/modules/helmet/index.ts
  src/main/modules/session/index.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-536

#532 FACT-1212 changed users tab to go to idam user dashboard
  charts/fact-admin/Chart.yaml
  charts/fact-admin/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  src/main/app/controller/users/EditUserController.ts
  src/main/app/controller/users/InviteUserController.ts
  src/main/app/controller/users/UserController.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/views/users/index.njk
  src/main/views/users/tabs/deleteUserConfirm.njk
  src/main/views/users/tabs/editUser.njk
  src/main/views/users/tabs/editUserContent.njk
  src/main/views/users/tabs/inviteSuccessful.njk
  src/main/views/users/tabs/inviteUser.njk
  src/main/views/users/tabs/inviteUserContent.njk
  src/main/views/users/tabs/inviteUserSearchContent.njk
  src/main/views/users/tabs/password.njk
  src/main/views/users/tabs/searchUser.njk
  src/main/views/users/tabs/searchUserContent.njk
  src/test/config.ts
  src/test/functional/features/admin-create-user.feature
  src/test/functional/steps/admin-create-user.ts
  src/test/smoke/smoke.ts
  src/test/unit/app/controller/users/EditUserController.ts
  src/test/unit/app/controller/users/InviteUserController.ts
  src/test/unit/app/controller/users/UsersController.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-532
