Repository hmcts/fact-admin, pull requests merged in 2022-03, with the labels that each got.

#470 Fact 1057 service areas 2
  README.md
  package.json
  src/main/app/controller/courts/NewCourtController.ts
  src/main/app/fact/FactApi.ts
  src/main/assets/js/add-new-court.ts
  src/main/types/ServiceArea.ts
  src/main/types/ServiceAreaCourt.ts
  src/main/views/courts/addNewCourt.njk
  src/test/functional/features/admin-add-new-court.feature
  src/test/functional/steps/admin-add-new-court.ts
  src/test/unit/app/controller/courts/NewCourtController.ts
  src/test/unit/app/fact/FactApi.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-470

#469 Fact 940
  README.md
  config/custom-environment-variables.yaml
  config/default.yaml
  src/main/app/controller/users/EditUserController.ts
  src/main/app/controller/users/InviteUserController.ts
  src/main/app/fact/IdamApi.ts
  src/main/assets/js/index.ts
  src/main/assets/js/users/edit-user.ts
  src/main/modules/awilix/index.ts
  src/main/modules/oidc/index.ts
  src/main/routes.ts
  src/main/types/User.ts
  src/main/types/UserPageData.ts
  src/main/views/users/index.njk
  src/main/views/users/tabs/deleteUserConfirm.njk
  src/main/views/users/tabs/editUser.njk
  src/main/views/users/tabs/editUserContent.njk
  src/main/views/users/tabs/inviteUserContent.njk
  src/main/views/users/tabs/searchUser.njk
  src/main/views/users/tabs/searchUserContent.njk
  src/test/functional/features/admin-create-user.feature
  src/test/functional/steps/admin-create-user.ts
  src/test/unit/app/controller/users/EditUserController.ts
  src/test/unit/app/controller/users/InviteUserController.ts
  src/test/unit/app/fact/IdamApi.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-469

#473 FACT-940: adding IDAM URL to values.yaml
  charts/fact-admin/Chart.yaml
  charts/fact-admin/values.yaml
  config/custom-environment-variables.yaml
Labels: ns:fact, prd:fact, rel:fact-admin-pr-473

#480 addressing vulnerabilities
  package.json
Labels: ns:fact, prd:fact, rel:fact-admin-pr-480
