Repository hmcts/fact-admin, pull requests merged in 2022-06, with the labels that each got.

#508 Fact 1120
  README.md
  src/main/app/controller/courts/ApplicationProgressionController.ts
  src/main/app/fact/FactApi.ts
  src/main/assets/js/application-progression.ts
  src/main/assets/js/index.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/types/ApplicationProgression.ts
  src/main/utils/validation.ts
  src/main/views/courts/edit-court-general.njk
  src/main/views/courts/tabs/applicationProgression.njk
  src/main/views/courts/tabs/applicationProgressionContent.njk
  src/main/views/courts/tabs/emailsContent.njk
  src/test/functional/features/application-progression.feature
  src/test/functional/steps/application-progression.ts
  src/test/unit/app/controller/courts/ApplicationProgressionController.ts
  src/test/unit/app/fact/FactApi.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-508

#524 FACT-1076: Updating local authorities tab when family areas of law is…
  src/main/assets/js/cases-heard.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-524

#522 Fact 1095 2
  src/main/app/controller/users/EditUserController.ts
  src/main/app/controller/users/InviteUserController.ts
  src/main/assets/js/users/edit-user.ts
  src/main/assets/js/users/invite-user.ts
  src/main/routes.ts
  src/main/types/UserPageData.ts
  src/main/utils/validation.ts
  src/main/views/users/tabs/deleteUserConfirm.njk
  src/main/views/users/tabs/editUserContent.njk
  src/main/views/users/tabs/inviteSuccessful.njk
  src/main/views/users/tabs/inviteUser.njk
  src/main/views/users/tabs/inviteUserContent.njk
  src/main/views/users/tabs/inviteUserSearchContent.njk
  src/main/views/users/tabs/searchUserContent.njk
  src/test/functional/features/admin-create-user.feature
  src/test/functional/steps/admin-create-user.ts
  src/test/unit/app/controller/users/EditUserController.ts
  src/test/unit/app/controller/users/InviteUserController.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-522
