Repository hmcts/fact-admin, pull requests merged in 2022-02, with the labels that each got.

#436 committing spoe tab
  src/main/app/controller/courts/CourtSpoeController.ts
  src/main/app/fact/FactApi.ts
  src/main/assets/js/index.ts
  src/main/assets/js/spoe.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/types/SpoeAreaOfLaw.ts
  src/main/types/SpoeAreaOfLawPageData.ts
  src/main/views/courts/edit-court-general.njk
  src/main/views/courts/tabs/spoe.njk
  src/main/views/courts/tabs/spoeContent.njk
  src/test/functional/features/court-spoe.feature
  src/test/functional/steps/court-spoe.ts
  src/test/unit/app/controller/courts/CourtsSpoeController.ts
  src/test/unit/app/fact/FactApi.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-436

#442 FACT-1115
  src/main/app/controller/courts/GeneralInfoController.ts
  src/main/app/controller/courts/NewCourtController.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-442

#446 correcting SPoE tab name
  package.json
  src/main/views/courts/edit-court-general.njk
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-446

#441 Fact 1057 2
  .nvmrc
  Dockerfile
  README.md
  charts/fact-admin/Chart.yaml
  package.json
  src/main/app/controller/courts/GeneralInfoController.ts
  src/main/types/CourtGeneralInfo.ts
  src/main/views/courts/tabs/generalContent.njk
  src/test/functional/features/court-additional-information.feature
  src/test/functional/features/general-info.feature
  src/test/functional/steps/court-urgent.ts
  src/test/unit/app/controller/courts/GeneralInfoController.ts
  src/test/unit/app/fact/FactApi.ts
  webpack/scss.js
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-441

#455 Update Chart.yaml
  charts/fact-admin/Chart.yaml
  package.json
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-455

#452 fix urgent notice bug
  package-lock.json
  src/main/app/controller/courts/GeneralInfoController.ts
  src/test/unit/app/controller/courts/GeneralInfoController.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-452
