Repository hmcts/fact-admin, pull requests merged in 2023-06, with the labels that each got.

#644 FACT-1403 fix hidden court name column in bulk update page
  src/main/assets/js/courts-table-search.ts
  src/main/assets/js/courts.ts
  src/main/views/bulk-update/index.njk
  src/test/functional/features/super_admin/admin-create-user.feature
  src/test/functional/features/super_admin/bulk-update.feature
Labels: ns:fact, prd:fact, rel:fact-admin-pr-644

#643 FACT-1408 changed no roles error message
  src/main/utils/error.ts
  src/test/functional/features/admin/admin-login.feature
Labels: ns:fact, prd:fact, rel:fact-admin-pr-643

#648 FACT-1414 Update Redis cache from 4 to 6
  infrastructure/main.tf
Labels: ns:fact, prd:fact, destroy, rel:fact-admin-pr-648

#647 Fact 1211 2
  charts/fact-admin/Chart.yaml
  charts/fact-admin/values.aat.template.yaml
  charts/fact-admin/values.preview.template.yaml
  charts/fact-admin/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  package.json
  src/main/app/controller/courts/CourtsController.ts
  src/main/app/controller/courts/EditCourtController.ts
  src/main/app/controller/courts/GeneralInfoController.ts
  src/main/app/fact/IdamApi.ts
  src/main/assets/js/cookie-manager.ts
  src/main/modules/oidc/index.ts
  src/main/modules/session/index.ts
  src/main/routes.ts
  src/main/server.ts
  src/main/types/AuthedRequest.ts
  src/main/types/User.ts
  src/test/functional/features/admin/admin-login.feature
  src/test/functional/features/admin/court-urgent.feature
  src/test/functional/features/super_admin/admin-create-user.feature
  src/test/unit/app/controller/courts/CourtTypesController.ts
  src/test/unit/app/controller/courts/CourtsController.ts
  src/test/unit/app/controller/courts/EditCourtController.ts
  src/test/unit/app/controller/courts/GeneralInfoController.ts
  src/test/unit/app/fact/IdamApi.ts
  src/test/unit/utils/mockRequest.ts
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-647
