Repository hmcts/fact-admin, pull requests merged in 2024-06, with the labels that each got.

#722 FACT-1716 postcodes codecept
  src/test/functional/codecept-features/super_admin/postcodes.feature
  src/test/functional/codecept-steps/courts.ts
  src/test/functional/codecept-steps/postcodes.ts
Labels: ns:fact, prd:fact, rel:fact-admin-pr-722

#725 FACT-1778 replaced local auth removal steps with API based removal step
  src/test/functional/codecept-features/super_admin/local-authorities.feature
  src/test/functional/codecept-features/super_admin/postcodes.feature
  src/test/functional/codecept-steps/courts.ts
  src/test/functional/helpers/FactApiHelper.ts
  yarn-audit-known-issues
Labels: ns:fact, prd:fact, rel:fact-admin-pr-725

#721 add url links in opening hours error messages
  README.md
  src/main/app/controller/courts/OpeningTimesController.ts
  src/main/assets/js/opening-hours.ts
  src/main/views/courts/tabs/openingHoursContent.njk
  src/test/functional/features/super_admin/opening-hours.feature
  src/test/unit/app/controller/courts/OpeningTimesController.ts
  yarn-audit-known-issues
Labels: ns:fact, prd:fact, rel:fact-admin-pr-721

#729 update tinymce
  .pnp.cjs
  .yarn/cache/tinymce-npm-7.0.0-78141cb10f-1f2dc383c1.zip
  .yarn/cache/tinymce-npm-7.2.0-fdef36c0ad-75af9f1e95.zip
  .yarn/install-state.gz
  package.json
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-admin-pr-729
